.popup  {
  width: 0px;
  height: 0px;
  overflow: hidden;
  cursor: initial;
  opacity: 0;
  &.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .overlay {
    display: none;
  }
  &.open .overlay {
    display: block;
    cursor: pointer;
    @include bp(tablet) {
      background-color: rgba(#000,0.8);
    }
  }
  &_content_wrapper {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    display: flex;
    width: 0;
    min-height: 0;
    height: auto;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 17px;
    box-shadow: 2px 2px 5px 0px rgba(#000,0.7);
    white-space:initial;
  }
  &.open &_content_wrapper {
    width: 930px;
    min-height: 519px;
    @include bp(tablet) {
      width: 690px;
      min-height: 350px;
      height: 350px;
    }
    @include bp(phone) {
      width: 320px;
      height: auto;
      flex-direction: column;
    }
    &.active {
      z-index: 1000;
    }
  }
  &_image_container {
    width: 40%;
    overflow: hidden;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    @include bp(phone) {
      width: 100%;
      position: absolute;
      border-radius: 17px;
    }
    img {
      width: 100%;
      height: 100%;
      transform: scale(1.5);
      transition: transform 1s ease;
    }
  }
  &.open &_image_container {
    img {
      transform: scale(1);
    }
  }
  &_content_container {
    width: 60%;
    overflow: hidden;
    position: relative;
    @include bp(phone) {
      width: 100%;
      background-color: rgba(255,255,255,0.8);
      border-radius: 17px;
    }
  }
  &_heading {
    padding: 25px 35px;
    font-size: 25px;
    text-align: right;
    border-bottom: solid 4px rgb(180,200,193);
    margin-bottom: 10px;
    @include bp(tablet) {
      padding: 10px;
      font-size: 20px;
      border-width: 2px;
    }
    @include bp(phone) {
      font-size: 18px;
    }
  }
  &_content  {
    padding: 0;
    .open & {
      padding: 0 35px;
      margin-bottom: 100px;
      @include bp(tablet) {
        padding: 0 15px;
        margin-bottom: 100px;
        max-height: 210px;
        overflow-y: scroll;
      }
      @include bp(phone) {
        margin-bottom: 75px;
        max-height: initial;
        overflow-y: initial;
      }
    }
    &_info {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
    }
    &_sub_heading {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &_list {
      padding-left: 30px;
      margin-bottom: 20px;
      li {
        list-style: disc;
        font-size: 14px;
        line-height: 18px;
      }
    }
    &_footer_info {
      font-size: 14px;
      margin-bottom: 5px;
      @include bp(tablet) {
        margin-bottom: 20px;
      }
    }
  }
  &_footer {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(180,200,193);
    border-bottom-right-radius: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include bp(phone) {
      flex-direction: column;
      align-items: stretch;
      padding: 10px;
    }
    &_left {
      @include bp(phone) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      div {
        color: $brand-color;
        margin-bottom: 10px;
        font-size: 16px;
        @include bp(phone) {
          font-size: 12px;
          margin-bottom: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    &_right {
      color: #fff;
      font-size: 18px;
      @include bp(phone) {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}